*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  padding: clamp(20px, 20vw, 200px) 20px 0;
}

.container{
  display:flex;
  justify-content: center;

}

.input-group input{
  display:block;
  width:200px;
  border:none;
  border: 2px solid #000; /* Bordure noire de 2 pixels */
  border-radius: 5px;    /* Coins arrondis */
  padding: 0px;          /* Espace intérieur */
}

.orientation{
  display:block;
  width: 100px;
  height:25px;
  margin-top:15px;
  padding:2px;
  background-color:#f1f1f1;
  border-radius:5px;
  color:#333;
  font-size:12px;
  text-align: center;
}
.curseur{
  display:block;
  width: 100px;
  height:1px;
  margin-top:15px;
  padding:2px;
  background-color:#f1f1f1;
  border-radius:5px;
  position:relative;
  
}

.pointeur{
  width: 5px;
  height:5px;
  border-radius:2px;
  background-color: blue;
}
